*
{
	margin:0;
	padding:0;
}
.logo
{
	height:75px;
	width:180px;
}
.header
{
	margin-left:40%;
	margin-top:10%;
}
.header div h1
{
	margin-top:20px;
	color:red;
	font-size:40px;
}
.Options
{
	margin-top:20px;
	 display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
#opt1,#opt2,#opt3,#opt4{
	border:3px solid lightgray;
   background-color:red;
   color:gold;
   padding: 10px 30px;
   font-family: 'Lora', serif;
   cursor: pointer;
}
.Table table
{
	width:100%;
}

.Table table th td
{
	border:2px solid gray;
	text-align:center;
	border-collapse: collapse;
	background-color:gold;
}
th
{
	background-color:gold;
}

